.shop-frame {
  width: 100%;
  height: 100%;
  background-color: #303030;
}

.shop {
  position: relative;
  top: 8.5rem;
  height: calc(100vh - 9.5rem);
  margin: 0 1rem;
  background-color: rgb(255, 255, 255);
}

.shop mat-drawer-content::-webkit-scrollbar {
  display: none;
}

.shop mat-toolbar {
  display: flex;
  position: fixed;
  height: 60px;
  width: 98%;
  margin: 0;
  padding: 10px 25px;
  background-color: transparent;
  justify-content: space-between;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 5;
}

.nav-link {
  display: flex;
  width: 80px;
  padding: 0 10px;
  justify-content: space-between;
}

.nav-brand a {
  color: rgb(120, 120, 120);
  cursor: pointer;
  font-size: x-large;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
}

.nav-link a {
  cursor: pointer;
  color: rgb(120, 120, 120);
  font-size: 1.2em;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-link a:hover {
  font-size: 1.6em;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .shop mat-toolbar {
    padding: 10px 10px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
