<div class="shop-frame">
  <div class="shop">
    <mat-toolbar>
      <div class="nav-brand">
        <a [routerLink]="['./product']">My Shop</a>
      </div>

      <div class="nav-link">
        <a [routerLink]="['./product']">
          <i class="fas fa-store-alt"></i>
        </a>
        <a [routerLink]="['./cart']">
          <i
            *ngIf="itemCount$ | async as itemCount"
            matBadge="{{ itemCount }}"
            matBadgeColor="warn"
            class="fas fa-shopping-cart"
          ></i>
        </a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
