.app-container {
  height: 100%;
  width: 100%;
}

.app-container mat-drawer-content::-webkit-scrollbar {
  display: none;
}

.app-container mat-toolbar {
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 10px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 5;
}

.nav-link {
  display: flex;
  color: rgb(196, 196, 196);
  width: 320px;
  padding: 0 10px;
  justify-content: space-between;
}

.nav-link a {
  cursor: pointer;
  color: rgb(196, 196, 196);
  font-size: 1.2em;
  text-shadow: 3px 3px 6px #000000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-link a:hover {
  font-size: 1.4em;
}

.side-nav {
  top: 60px;
  padding: 2em 4em;
  background-color: rgba(0, 0, 0, 0.5);
}

.side-nav p {
  cursor: pointer;
  margin: 2.5em 0em;
}

.side-nav a {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  text-decoration: none;
  text-shadow: 3px 3px 6px #000000;
}

.portfolio-menu a {
  font-size: 1.1em;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .app-container mat-toolbar {
    padding: 10px 10px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .side-nav {
    padding: 2em 2em;
  }
}
