.home-tree-frame {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}

.home-tree-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-tree-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 180px 60px #000000;
  background-image: url(/assets/images/home-tree.jpg);
  background-size: cover;
  background-position: center center;
  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.home-tree-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-tree-text h1 {
  color: #ebebeb;
  font-size: 2.7em;
  text-shadow: 3px 3px 9px #13120c;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.home-story-frame {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.home-story-frame mat-grid-list {
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.home-story-frame mat-grid-tile {
  top: 50%;
  transform: translateY(-50%);
}

.home-story-selfie {
  width: 70%;
  height: 100%;
  border-radius: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/assets/images/home-selfie-tall.jpg);
  box-shadow: inset 0px 0px 100px 60px rgba(0, 0, 0, 1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.home-story-detail {
  overflow: auto;
  width: 100%;
  height: 100%;
  color: #ebebeb;
  text-align: left;
  font-size: 2em;
  line-height: 1.5em;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.home-story-detail::-webkit-scrollbar {
  display: none;
}

.home-room-frame {
  position: relative;
  height: 100%;
  width: 100%;
}

.home-room-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}

.home-room-inner {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/home-room.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1;
}

.home-room-skill {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.home-room-skill mat-grid-list {
  color: #ebebeb;
  height: 80% !important;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-room-skill div {
  text-align: center;
}

.home-room-skill i {
  font-size: 7em;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.home-room-skill p {
  font-size: 2.3em;
  line-height: 1.8em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.home-footer-frame {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.home-foot-detail {
  position: relative;
  height: 80%;
  width: 100%;
  margin: auto;
  color: #ebebeb;
  text-align: left;
}

.home-foot-detail div {
  position: relative;
  overflow: auto;
  height: 60%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.home-foot-detail div::-webkit-scrollbar {
  display: none;
}

.home-foot-detail p {
  font-size: 1.6em;
  line-height: 1.5em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.home-foot-link {
  position: relative;
  height: 20%;
  width: 100%;
}

.home-foot-link i {
  font-size: 3em;
}

.home-foot-link span {
  display: flex;
  height: 100%;
  width: 200px;
  color: #ebebeb;
  justify-content: space-between;
  align-items: center;
}

.home-foot-link a {
  vertical-align: middle;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: inherit;
}

.home-foot-link a:visited {
  color: inherit;
}

.home-foot-link a:hover {
  font-size: 1.2em;
}

.home-foot-link a:active {
  color: inherit;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .home-story-frame mat-grid-list {
    width: 90%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .home-tree-text {
    font-size: 0.8em;
  }

  .home-story-frame {
    height: auto;
    padding: 7em 0;
  }

  .home-story-selfie {
    position: relative;
    left: 50%;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    margin-bottom: 5rem;
    box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 1);
    transform: translateX(-50%);
  }

  .home-story-detail {
    position: relative;
    left: 50%;
    width: 80%;
    font-size: 1.7em;
    line-height: 1.5em;
    transform: translateX(-50%);
  }

  .home-room-skill i {
    font-size: 6em;
  }

  .home-room-skill p {
    font-size: 2em;
  }

  .home-foot-detail div {
    height: auto;
    width: 80%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .home-story-frame {
    padding: 5em 0;
  }

  .home-story-selfie {
    width: 20rem;
    height: 20rem;
  }

  .home-story-detail {
    font-size: 1.5em;
  }

  .home-room-skill i {
    font-size: 5em;
  }
}
