.home-common-container {
	width: 100%;
	height: 100%;
	max-width: 100%;
	text-align: center;
}

.home-dark-cover {
	height: 100%; 
	width: 100%;
	background-color: rgba(0, 0, 0, 0.35); 
}

.home-cover-frame {
	position: fixed;
	background-image: url(/assets/images/home-cover.jpg);
	background-size: cover;
	background-position: center, center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 180px 60px #000000;
	z-index: -1;
}

.home-cover-text {
	color: #ebebeb;
	font-size: 2.7em;
	text-shadow: 3px 3px 6px #000000;
	z-index: 1;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.home-story-front-frame {
	height: 120%;
	background-color: rgb(0, 0, 0);
}

.home-story-selfie {
	display: none;
	width: 100%; 
	height: 80%;
	border-radius: 4rem;
	transform: scale(.2);
	background-image: url(/assets/images/selfie.jpg);
	background-size: cover;
	background-position: center, center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 200px 100px #000000;
	-webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.home-story-detail {
	display: none;
	width: 100%; 
	height: 80%;
	color: #ebebeb;
	text-align: left;
	font-size: 2em;
	line-height: 1.5em;
	border-radius: 4rem;
	transform: scale(1);
	-webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.home-skill-frame {
	color: #ebebeb;
	padding: 1.5rem;
}

.home-skill-frame h1 {
	color: #ebebeb;
	text-align: left;
	font-size: 2em;
	margin-top: 2.5em;
	margin-left: 3em;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4); 
}

.home-footer-front-frame {
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
}

.home-footer {
	position: relative;
	height: 30%; 
	width: 100%;
	top:70%;
}

.home-footer i {
	font-size: 3em;
}

.home-footer span {
	display: flex;
	height: 100%;
	width: 200px;
	color: #ebebeb;
	justify-content: space-between;
	align-items: center;
}

.home-footer a {
	vertical-align: middle;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
	transition: all 0.5s;
	color:inherit;
}

.home-footer a:visited {
	color:inherit;
}

.home-footer a:hover { 
	font-size: 1.2em;
}

.home-footer a:active {
	color:inherit;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
	.home-cover-text {
		font-size: 35px;
	}

	.home-third-frame {
		background-attachment: initial;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
	.home-container {
		box-shadow: inset 0 0 180px 50px #000000;
	}

	.home-cover-frame {
		position: fixed;
		background-attachment: scroll;
	}

	.home-cover-text {
		font-size: 2em;
	}

	.home-story-selfie {
		box-shadow: inset 0 0 100px 20px #000000;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	.home-story-front-frame {
		height: 180%;
	}

	.home-story-selfie {
		display: block;
		width: 30rem; 
		height: 30rem;
		border-radius: 50%;
		transform: scale(.7);
	}

	.home-story-detail {
		display: block;
		height: 100%;
		padding: 0 1.7em;
		font-size: 1.5em;
		line-height: 1.5em;
		transform: scale(1);
	}
}