<div class="home-common-container home-cover-frame">
    <div class="home-dark-cover">
        <div class="center">
            <h1 class="home-cover-text">
                Hi, I'm <span>Edward</span>
            </h1>
        </div>
    </div>
</div>

<div class="home-common-container home-front-frame">

</div>

<div class="home-common-container home-third-frame">
    <div class="home-dark-cover">

    </div>
</div>

<div class="home-common-container home-front-frame">
    <div class="home-footer">
        <div style="width:80%; margin: auto; border: 1px solid rgb(223, 223, 223);"></div>

        <div style="height: 75%;">
            <mat-grid-list cols="1" rowHeight="100%">
                <mat-grid-tile>
                    <span>
                        <a href="https://github.com/kaixing2012">
                            <i class="fab fa-github"></i>
                        </a>

                        <a href="https://www.instagram.com/programmetrickly">
                            <i class="fab fa-instagram-square"></i>
                        </a>

                        <a href="https://au.linkedin.com/in/edwardyrogers">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </span>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <div style="height: 25%;">
            <mat-grid-list cols="1" rowHeight="100%" style="background-color: rgba(93, 34, 34, 0.5);">
                <mat-grid-tile style="color: #ebebeb; font-size: 1.1em;">
                    © 2020 Edward Y. Rogers
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>