<div class="pay-frame">
  <div class="pay" *ngIf="payment$ | async as payment">
    <div class="pay-left">
      <mat-card>
        <div>
          <h2>Total Amount</h2>

          <h1>
            <small>NT$</small>
            {{ payment.body.totalAmount }}
          </h1>
        </div>
      </mat-card>
    </div>

    <div class="pay-right">
      <ng-template [ngIf]="isMobileMode" [ngIfElse]="horizontalStepper">
        <mat-vertical-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="customerFormGroup">
            <form [formGroup]="customerFormGroup">
              <ng-template matStepLabel> Contact </ng-template>

              <h1>Please, fill out your contact infomation</h1>

              <mat-form-field *ngFor="let field of customerFormFields">
                <mat-label>{{ field.label }}</mat-label>

                <input
                  matInput
                  placeholder="{{ field.placeholder }}"
                  formControlName="{{ field.formControlName }}"
                  required
                />
              </mat-form-field>

              <div class="pay-right-action">
                <button matStepperNext mat-raised-button color="primary">
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="shippingFormGroup">
            <form [formGroup]="shippingFormGroup">
              <ng-template matStepLabel> Shipping </ng-template>

              <h1>Please, fill out your address</h1>

              <mat-form-field *ngFor="let field of shippingFormFields">
                <mat-label>{{ field.label }}</mat-label>

                <input
                  matInput
                  placeholder="{{ field.placeholder }}"
                  formControlName="{{ field.formControlName }}"
                  required
                />
              </mat-form-field>

              <div class="pay-right-action">
                <button matStepperPrevious mat-raised-button color="primary">
                  Back
                </button>

                <button matStepperNext mat-raised-button color="primary">
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="paymentFormGroup">
            <form [formGroup]="paymentFormGroup">
              <ng-template matStepLabel> Payment </ng-template>

              <h1>Please, fill out your payment into</h1>

              <mat-form-field *ngFor="let field of paymentFormFields">
                <mat-label>{{ field.label }}</mat-label>

                <input
                  matInput
                  placeholder="{{ field.placeholder }}"
                  formControlName="{{ field.formControlName }}"
                  required
                  readonly
                />
              </mat-form-field>

              <div class="pay-right-action">
                <button matStepperPrevious mat-raised-button color="primary">
                  Back
                </button>

                <button matStepperNext mat-raised-button color="primary">
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>

            <h1>The following are your payment infomation...</h1>

            <section>
              <table style="width: 100%">
                <tr>
                  <td>Recipient:</td>
                  <td>
                    {{ customerFormGroup.value.fullName }}
                  </td>
                </tr>

                <tr>
                  <td>Contact No:</td>
                  <td>
                    {{ customerFormGroup.value.phoneNumber }}
                  </td>
                </tr>

                <tr>
                  <td>Email:</td>
                  <td>
                    {{ customerFormGroup.value.emailAddress }}
                  </td>
                </tr>

                <tr>
                  <td>Shipping Address:</td>
                  <td>
                    {{ shippingFormGroup.value.street }}
                    {{ shippingFormGroup.value.district }}
                    {{ shippingFormGroup.value.city }}
                    {{ shippingFormGroup.value.code }}
                  </td>
                </tr>

                <tr>
                  <td>Cardholder Name:</td>
                  <td>{{ paymentFormGroup.value.cardholderName }}</td>
                </tr>

                <tr>
                  <td>Card Number:</td>
                  <td>{{ paymentFormGroup.value.cardNumber }}</td>
                </tr>

                <tr>
                  <td>Expiration:</td>
                  <td>{{ paymentFormGroup.value.expiration }}</td>
                </tr>

                <tr>
                  <td>CVV:</td>
                  <td>{{ paymentFormGroup.value.cvv }}</td>
                </tr>
              </table>
            </section>

            <div class="pay-right-action">
              <button matStepperPrevious mat-raised-button color="primary">
                Back
              </button>

              <button
                mat-raised-button
                color="primary"
                (click)="onPay(payment)"
              >
                Pay
              </button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </ng-template>

      <ng-template #horizontalStepper>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="customerFormGroup">
            <form [formGroup]="customerFormGroup">
              <ng-template matStepLabel> Contact </ng-template>

              <h1>Please, fill out your contact infomation</h1>

              <mat-form-field *ngFor="let field of customerFormFields">
                <mat-label>{{ field.label }}</mat-label>

                <input
                  matInput
                  placeholder="{{ field.placeholder }}"
                  formControlName="{{ field.formControlName }}"
                  required
                />
              </mat-form-field>

              <div class="pay-right-action">
                <button matStepperNext mat-raised-button color="primary">
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="shippingFormGroup">
            <form [formGroup]="shippingFormGroup">
              <ng-template matStepLabel> Shipping </ng-template>

              <h1>Please, fill out your address</h1>

              <mat-form-field *ngFor="let field of shippingFormFields">
                <mat-label>{{ field.label }}</mat-label>

                <input
                  matInput
                  placeholder="{{ field.placeholder }}"
                  formControlName="{{ field.formControlName }}"
                  required
                />
              </mat-form-field>

              <div class="pay-right-action">
                <button matStepperPrevious mat-raised-button color="primary">
                  Back
                </button>

                <button matStepperNext mat-raised-button color="primary">
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="paymentFormGroup">
            <form [formGroup]="paymentFormGroup">
              <ng-template matStepLabel> Payment </ng-template>

              <h1>Please, fill out your payment into</h1>

              <mat-form-field *ngFor="let field of paymentFormFields">
                <mat-label>{{ field.label }}</mat-label>

                <input
                  matInput
                  placeholder="{{ field.placeholder }}"
                  formControlName="{{ field.formControlName }}"
                  required
                  readonly
                />
              </mat-form-field>

              <div class="pay-right-action">
                <button matStepperPrevious mat-raised-button color="primary">
                  Back
                </button>

                <button matStepperNext mat-raised-button color="primary">
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>

            <h1>The following are your payment infomation...</h1>

            <section>
              <table style="width: 100%">
                <tr>
                  <td>Recipient:</td>
                  <td>
                    {{ customerFormGroup.value.fullName }}
                  </td>
                </tr>

                <tr>
                  <td>Contact No:</td>
                  <td>
                    {{ customerFormGroup.value.phoneNumber }}
                  </td>
                </tr>

                <tr>
                  <td>Email:</td>
                  <td>
                    {{ customerFormGroup.value.emailAddress }}
                  </td>
                </tr>

                <tr>
                  <td>Shipping Address:</td>
                  <td>
                    {{ shippingFormGroup.value.street }}
                    {{ shippingFormGroup.value.district }}
                    {{ shippingFormGroup.value.city }}
                    {{ shippingFormGroup.value.code }}
                  </td>
                </tr>

                <tr>
                  <td>Cardholder Name:</td>
                  <td>{{ paymentFormGroup.value.cardholderName }}</td>
                </tr>

                <tr>
                  <td>Card Number:</td>
                  <td>{{ paymentFormGroup.value.cardNumber }}</td>
                </tr>

                <tr>
                  <td>Expiration:</td>
                  <td>{{ paymentFormGroup.value.expiration }}</td>
                </tr>

                <tr>
                  <td>CVV:</td>
                  <td>{{ paymentFormGroup.value.cvv }}</td>
                </tr>
              </table>
            </section>

            <div class="pay-right-action">
              <button matStepperPrevious mat-raised-button color="primary">
                Back
              </button>

              <button
                mat-raised-button
                color="primary"
                (click)="onPay(payment)"
              >
                Pay
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </ng-template>
    </div>
  </div>
</div>
