::ng-deep .mat-step-label {
  font-size: 1em;
}

::ng-deep .mat-snack-bar-container {
  color: #000000 !important;
  background-color: #ffffff !important;
  border: 0.5px solid #8d8d8d !important;
  min-width: 500px !important;
}

::ng-deep .mat-simple-snackbar {
  font-size: 1.3em !important;
}

::ng-deep .mat-simple-snackbar-action {
  color: #000000;
}

.pay-frame {
  position: relative;
  top: 5em;
}

.pay {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: calc((var(--vh, 1vh) * 100) - 11.1em);
  margin: auto 2em;
}

.pay-left {
  height: 100%;
  width: 45%;
}

.pay-left mat-card {
  max-width: 324px;
  height: 204px;
  margin: 2em auto;
  color: aliceblue;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #161a1b, #3c4c5c);
}

.pay-left div {
  height: 100%;
}

.pay-left h1 {
  position: relative;
  font-size: 3.5em;
  text-align: center;
  top: 25%;
  transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -o-transform: translateY(-25%);
}

.pay-right {
  overflow: hidden;
  width: 55%;
  font-size: 1.3em;
  height: 100%;
}

.pay-right mat-form-field {
  width: 100%;
}

.pay-right section {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  height: 16em;
}

.pay-right tr {
  height: 3em;
}

.pay-right h1 {
  margin: 0.8em 0em 1.6em;
}

.pay-right-action {
  margin-top: 1em;
  float: right;
}

.pay-right-action button {
  margin-left: 1em;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .pay {
    display: block;
    justify-content: space-between;
    overflow: auto;
    margin: auto;
  }

  .pay-left {
    width: 100%;
    height: auto;
  }

  .pay-left mat-card {
    transform: scale(0.7);
    margin: auto;
  }

  .pay-right {
    width: 100%;
    height: auto;
  }

  .pay-right h1 {
    font-size: 1.1em;
  }

  .pay-right section {
    height: auto;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  ::ng-deep .mat-snack-bar-container {
    min-width: 300px !important;
  }
}
