<div class="product-frame">
  <button class="filter-btn" mat-icon-button (click)="onOpenFilter()">
    <ng-template [ngIf]="isMobileMode" [ngIfElse]="desktopForFilterBtn">
      <i class="fas fa-filter"></i>
    </ng-template>

    <ng-template #desktopForFilterBtn>
      <span> FILTER </span>
    </ng-template>
  </button>

  <mat-drawer-container class="product-display">
    <mat-drawer
      class="product-filter"
      [opened]="isFilterOpened"
      mode="side"
      position="end"
    >
      <h1>Color</h1>

      <ul *ngIf="colors$ | async as colors">
        <li *ngFor="let color of colors">
          <mat-checkbox
            #checkbox
            color="primary"
            [value]="color.id.toString()"
            [name]="color.name"
            (change)="onCheckChange($event)"
          >
            {{ color.name | titlecase }}
          </mat-checkbox>
        </li>
      </ul>

      <h1>Size</h1>

      <ul *ngIf="sizes$ | async as sizes">
        <li *ngFor="let size of sizes">
          <mat-checkbox
            #checkbox
            color="primary"
            [value]="size.id.toString()"
            [name]="size.name"
            (change)="onCheckChange($event)"
          >
            {{ size.name | uppercase }}
          </mat-checkbox>
        </li>
      </ul>

      <h1>Category</h1>

      <ul *ngIf="categories$ | async as categories">
        <li *ngFor="let category of categories">
          <mat-checkbox
            #checkbox
            color="primary"
            [value]="category.id.toString()"
            [name]="category.name"
            (change)="onCheckChange($event)"
          >
            {{ category.name | titlecase }}
          </mat-checkbox>
        </li>
      </ul>
    </mat-drawer>

    <mat-drawer-content class="product-collection">
      <mat-tab-group
        *ngIf="genders$ | async as genders"
        mat-align-tabs="center"
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab
          *ngFor="let gender of genders"
          label="{{ gender.name | titlecase }}"
        >
          <div
            *ngIf="displayProducts$ | async as displayProducts"
            fxLayout="row wrap"
            class="row-wrap"
          >
            <div
              fxFlex="25%"
              fxFlex.sm="33%"
              fxFlex.xs="100%"
              *ngFor="let product of displayProducts"
            >
              <mat-card
                class="mat-elevation-z4"
                (click)="
                  onOpenDialog(product.productItem, product.category, gender)
                "
              >
                <img
                  mat-card-image
                  src="{{ product.productItem.cover }}"
                  alt="Photo of shoes"
                />

                <mat-card-header>
                  <mat-card-title>
                    {{ product.productItem.name }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    NT {{ product.productItem.price }}
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
