::ng-deep .mat-tab-label {
  font-size: 1.2em;
  font-weight: 900;
}

.product-frame {
  position: relative;
  top: 4.3em;
  padding: 0em 0.8em;
}

.product-frame mat-tab-group {
  height: calc((var(--vh, 1vh) * 100) - 9.5em);
}

.product-frame div {
  height: calc((var(--vh, 1vh) * 100) - 13em);
}

.product-frame p {
  position: relative;
  font-size: 30px;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
