<div class="product-frame">
  <button class="filter-btn" mat-icon-button (click)="onOpenFilter()">
    <ng-template [ngIf]="isMobileMode" [ngIfElse]="desktopForFilterBtn">
      <i class="fas fa-filter"></i>
    </ng-template>

    <ng-template #desktopForFilterBtn>
      <span> FILTER </span>
    </ng-template>
  </button>

  <mat-drawer-container class="product-display">
    <mat-drawer
      class="product-filter"
      [opened]="isFilterOpened"
      mode="side"
      position="end"
    >
      <h1>Color</h1>

      <ul>
        <li *ngFor="let color of colors">
          <mat-checkbox
            #checkbox
            color="primary"
            [value]="color.id"
            [name]="color.name"
            (change)="onCheckChange($event)"
          >
            {{ color.name | titlecase }}
          </mat-checkbox>
        </li>
      </ul>

      <h1>Size</h1>

      <ul>
        <li *ngFor="let size of sizes">
          <mat-checkbox
            #checkbox
            color="primary"
            [value]="size.id"
            [name]="size.name"
            (change)="onCheckChange($event)"
          >
            {{ size.name | titlecase }}
          </mat-checkbox>
        </li>
      </ul>

      <h1>Category</h1>

      <ul>
        <li *ngFor="let category of categories">
          <mat-checkbox
            #checkbox
            color="primary"
            [value]="category.id"
            [name]="category.name"
            (change)="onCheckChange($event)"
          >
            {{ category.name | titlecase }}
          </mat-checkbox>
        </li>
      </ul>
    </mat-drawer>

    <mat-drawer-content class="product-collection">
      <mat-tab-group
        mat-align-tabs="center"
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab
          *ngFor="let gender of genders"
          label="{{ gender.name | titlecase }}"
        >
          <div fxLayout="row wrap" class="row-wrap">
            <div
              fxFlex="25%"
              fxFlex.sm="33%"
              fxFlex.xs="100%"
              *ngFor="let product of displayList"
            >
              <mat-card
                class="mat-elevation-z4"
                (click)="openDialog(product.item, product.category, gender)"
              >
                <img
                  mat-card-image
                  src="{{ product.item.imagePath }}"
                  alt="Photo of shoes"
                />

                <mat-card-header>
                  <mat-card-title>
                    {{ product.item.name }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    NT {{ product.item.price }}
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
