<div class="cart-frame">
  <div class="cart" *ngIf="shoppingCart$ | async as shoppingCart">
    <div class="cart-list" *ngFor="let shoppingItem of shoppingCart.cartItems">
      <div class="cart-list-img">
        <img
          src="{{ shoppingItem.product.productImage.image }}"
          alt=""
          width="100%"
        />
      </div>

      <div class="cart-list-detail">
        <h1>
          <span style="font-size: larger">
            {{ shoppingItem.product.productItem.name }}
          </span>

          <small>
            <button mat-icon-button (click)="onSubtractAmount(shoppingItem)">
              <i class="fas fa-minus"></i>
            </button>

            <span>{{ shoppingItem.amount }}</span>

            <button mat-icon-button (click)="onAddAmount(shoppingItem)">
              <i class="fas fa-plus"></i>
            </button>
          </small>

          <span>
            NT${{ shoppingItem.product.productItem.price | number }}
          </span>
        </h1>

        <h2>
          <div>Color:</div>

          <div
            class="cart-list-detail-color"
            [ngStyle]="dynamicBackgroundColor(shoppingItem.product.color.code)"
          ></div>
        </h2>

        <h2>
          <div>Size:</div>

          <div class="cart-list-detail-size">
            <span>{{ shoppingItem.product.size.name | uppercase }}</span>
          </div>
        </h2>

        <h2 class="cart-list-detail-sub">
          <button mat-raised-button (click)="onRemoveItem(shoppingItem)">
            <i class="fas fa-trash-alt"></i>
          </button>

          <span>
            Sub:
            <b>
              {{
                getItemSub(
                  shoppingItem.product.productItem.price,
                  shoppingItem.amount
                )
              }}
            </b>
          </span>
        </h2>
      </div>
    </div>

    <div class="cart-pay">
      <div>
        <h2>
          <span> Subtotal: </span>
          <span> {{ getSubtotal(shoppingCart.cartItems) }} </span>
        </h2>

        <h2>
          <span> Shipping: </span>
          <span> {{ getShipping() }} </span>
        </h2>

        <mat-divider></mat-divider>

        <h1>
          <span> Total: </span>
          <span> {{ getTotal() }} </span>
        </h1>

        <section>
          <button
            mat-raised-button
            (click)="onSaveItems(shoppingCart.cartItems)"
          >
            Save order
          </button>

          <a
            mat-raised-button
            [routerLink]="['../pay']"
            (click)="onCheckOut(shoppingCart)"
          >
            Check out
          </a>
        </section>
      </div>
    </div>
  </div>
</div>
