<div class="cart-frame">
  <div class="cart">
    <div class="cart-list" *ngFor="let shoppingItem of shoppingItems">
      <div class="cart-list-img">
        <img src="{{ shoppingItem.product.imagePath }}" alt="" width="100%" />
      </div>

      <div class="cart-list-detail">
        <h1>
          <div>{{ shoppingItem.product.productItem.name }}</div>

          <div>
            <button mat-icon-button (click)="subtractAmount(shoppingItem)">
              <i class="fas fa-minus"></i>
            </button>

            <small>{{ shoppingItem.amount }}</small>

            <button mat-icon-button (click)="addAmount(shoppingItem)">
              <i class="fas fa-plus"></i>
            </button>
          </div>

          <small>NT${{ shoppingItem.product.productItem.price }}</small>
        </h1>

        <h2>
          <div>Color:</div>

          <div
            class="cart-list-detail-color"
            [ngStyle]="dynamicBackgroundColor(shoppingItem.product.color.code)"
          ></div>
        </h2>

        <h2>
          <div>Size:</div>

          <div class="cart-list-detail-size">
            <span>{{ shoppingItem.product.size.name | uppercase }}</span>
          </div>
        </h2>

        <h2 class="cart-list-detail-sub">
          <span>
            Sub:
            <b>{{
              getProductSubtotal(
                shoppingItem.product.productItem.price,
                shoppingItem.amount
              )
            }}</b>
          </span>
        </h2>
      </div>
    </div>

    <div class="cart-pay">
      <div>
        <h2>
          <span> Product Total: </span>
          <span> {{ getProductTotal() }} </span>
        </h2>

        <h2>
          <span> Delivery Fee: </span>
          <span> {{ getDeliveryFee() }} </span>
        </h2>

        <mat-divider></mat-divider>

        <h1>
          <span> Total: </span>
          <span> {{ getTotal() }} </span>
        </h1>

        <button mat-raised-button (click)="onCheckOut()">Check Out</button>
      </div>
    </div>
  </div>
</div>
