::ng-deep .mat-snack-bar-container {
  color: #000000 !important;
  background-color: #ffffff !important;
  border: 0.5px solid #8d8d8d !important;
  min-width: 500px !important;
}

::ng-deep .mat-simple-snackbar {
  font-size: 1.3em !important;
}

::ng-deep .mat-simple-snackbar-action {
  color: #000000;
}

.cart-frame {
  position: relative;
  top: 5em;
}

.cart {
  height: calc((var(--vh, 1vh) * 100) - 10.1em);
  overflow: auto;
}

.cart-list {
  display: flex;
  justify-content: space-between;
  margin: 0em 6em;
  padding: 3em 0em 3em 3em;
  border-top: 1px solid lightgray;
}

.cart-list-img {
  width: 30%;
}

.cart-list-detail {
  width: 70%;
  padding-left: 2em;
}

.cart-list-detail h1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 2em;
  font-weight: 900;
  align-items: center;
}

.cart-list-detail h2 {
  display: flex;
}

.cart-list-detail-color {
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  margin: auto 1em;
}

.cart-list-detail-size {
  height: 1em;
  width: 1em;
  margin-left: 1em;
  text-align: center;
}

.cart-list-detail-sub {
  display: flex;
  justify-content: space-between;
}

.cart-list-detail-sub button {
  min-width: auto;
  line-height: 0;
  color: white;
  background-color: #c44b3f;
}

.cart-pay {
  display: flex;
  justify-content: flex-end;
  margin: 0em 6em;
  border-top: 1px solid lightgray;
}

.cart-pay div {
  width: 70%;
  padding: 2em 0;
}

.cart-pay h1 {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  margin: 0;
}

.cart-pay h2 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.cart-pay section {
  display: flex;
  justify-content: space-between;
}

.cart-pay button,
a {
  font-size: 1.5em;
  font-weight: 900;
  color: white;
  width: 49%;
  margin-top: 3em;
  padding: 0.2em;
}

.cart-pay mat-divider {
  margin: 2em 0;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .cart-list {
    display: block;
    padding: 3em 0em;
  }

  .cart-list-img {
    width: 80%;
    margin: auto;
  }

  .cart-list-detail {
    width: 80%;
    margin: 3em auto 0em;
    padding: 0em;
  }

  .cart-list-detail h1 {
    font-size: 1.5em;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  ::ng-deep .mat-snack-bar-container {
    min-width: 300px !important;
  }

  .cart-list {
    margin: 0 2em;
  }

  .cart-pay {
    margin: 0 2em;
  }

  .cart-pay button,
  a {
    font-size: 1.2em;
  }
}
